build-job:
  stage: build
  script:
    - echo "Building the project..."
    - echo "Completed dry CI run"
  tags:
    - 8-core

on-pull-requests:
  script: echo 'this should run on pull requests'
  rules:
    - if: $CI_PIPELINE_SOURCE == "external_pull_request_event"
