#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if FLASH

menu "Flash drivers"

# zephyr-keep-sorted-start
rsource "flash_mspi_nor/Kconfig"
# zephyr-keep-sorted-stop

endmenu

endif
